
body {
    margin:0;
    padding:0;
    background: #F8F9FB;
}

header {
    width: 100%;
    height: 144px;
    flex-shrink: 0;
    background-color: #353A40;
}

header img {
    margin: 20px 0 0 50px;
    width: 100px;
    height: 104px;
    transform: rotate(-6.963deg);
    flex-shrink: 0;
}

header span {
    position:relative;
    left:25px;
    bottom:22px;
    width: 432px;
    height: 91px;
    flex-shrink: 0;
    color: #FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.notes {
    width:fit-content;
    height: fit-content;
}

.create-note {
    border-radius: 5px;
    margin-left:20px;
    width: 362px;
    height: 74px;
    background-color: #969696;
    border:none;
}

.create-note span {
    color: #FFF;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 500;
    position:relative;
    bottom:5px;
}

.note-container {
    margin: 20px 0 0 55px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #353A40;
    border-radius: 10px;
    background-color: #FCF8C6;
    width: 380px;
    height:315px;
    overflow: hidden;
}

.note-container:hover {
    transform-origin: center;
    scale: 1.03;
    transition: 0.1s;
    box-shadow: black;
}

.open-button {
    background-color: #FCF8C6;
    color: #e4e0b3;
    font-weight: 700;
    height: 40px;
    width:100%;
    font-size: 30px;
    border:0;
}

.openImg {
    width:20px;
    height:auto;
}

.deleteImg {
    width:15px;
    height:auto;
}

.inputHeading {
    outline: none;
    font-size: 18px;
    background-color: #FCF8C6;
    margin-left:12px;
    width:85%;
    border: none;
    border-bottom: 1px solid black;
}

.note-container .input-box {
    overflow: hidden;
    color:#291600;
    outline:none;
    border: none;
    font-size: 16px;
    resize: none;
    margin-left:12px;
    width:90%;
    height: 230px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1292px){

    .note-container {
        display: block;
        margin-left:20px;
    }
}

@media screen and (max-width: 400px){
header span {
    display:none;
}

.create-note {
    width:fit-content;
    height: fit-content;
}

.create-note span {
    display:none;
}

}